---
import Layout from '../layouts/Layout.astro';

const wdcc_link = "https://wdcc.co.nz/"
const devs_link = "https://www.instagram.com/devsuoa/" 
const uoacs_link = "https://uoacs.org/" 
const tansa_link = "https://www.instagram.com/tansa.uoa/"
---

<Layout>
    <h1>Kia ora! my name is <span>Koutaro Yumiba</span></h1>
    <p>I'm a student at the University of Auckland, studying Computer Science and Psychology</p>

    <h2>Notable Achievements</h2>
    <div class="sidebar">
        <ul>
            <li>Custom <a href="https://github.com/Kot6603/nvim" target="_blank">Neovim Config</a>?!?</li>
            <li>Lead Contributor of <a href="https://www.instagram.com/ericzhengfanpage/" target="_blank">Eric Zheng's Fan Page</a></li>
            <li>Senior Intern at <a href="https://github.com/AGroupForCoders" target="_blank">AGFC</a></li>
            <li><span>"real"</span> and <span>"disaster"</span></li>
        </ul>
    </div>
    <h2>Experience</h2>
    <div class="sidebar">
        <ul>
            <li>[Nov 2024 -&nbsp; Present] <span>Software Engineering Intern</span> ---- NZPMC Ltd.
            <li>[Feb 2024 -&nbsp; Present] <span>Teaching Assistant</span> ------------- University Of Auckland
            <li>[Nov 2024 - Feb 2025] <span>Summer Research Intern</span> --------- University Of Auckland
            <li>[Jul 2024 - Jul 2024] <span>Jane Street SEE Program</span> -------- Jane Street
        </ul>
    </div>
    <h2>Leadership Roles</h2>
    <div class="sidebar">
        <ul>
            <li>[ 1x] <span>Education Executive</span> --------- (2025) --- Web Development and Consulting Club (<a href={wdcc_link} target="_blank">WDCC</a>)</li>
            <li>[ 1x] <span>Technical Executive</span> --------- (2025) --- Web Development and Consulting Club (<a href={wdcc_link} target="_blank">WDCC</a>)</li>
            <li>[ 1x] <span>Competitions Executive</span> ------ (2025) --- Developer's Society (<a href={devs_link} target="_blank">DEVS</a>)</li>
            <li>[ 1x] <span>Technical Executive</span> --------- (2025) --- Developer's Society (<a href={devs_link} target="_blank">DEVS</a>)</li>
            <li>[ 1x] <span>Senior Advisor</span> -------------- (2025) --- University Of Auckland Compsci Society (<a href={uoacs_link} target="_blank">UOACS</a>)</li>
            <li>[ 1x] <span>Public Relations Officer</span> ---- (2024) --- Taiwanese and New Zealand Student Association (<a href={tansa_link} target="_blank">TANSA</a>)</li>
            <li>[ 1x] <span>Activities Coordinator</span> ------ (2023) --- Taiwanese and New Zealand Student Association (<a href={tansa_link} target="_blank">TANSA</a>)</li>
            <li>[ 2x] <span>Faculty Representative for Computer Science</span> (2024) -- University of Auckland</li>
            <li>[11x] <span>Class Representative</span> -------- (2022, 2023, 2024, 2025) -- University of Auckland
                <p>\t &gt 2022 -- <span>CS110</span>, <span>CS120</span>, <span>CS130</span> </p>
                <p>\t &gt 2023 -- <span>CS210</span>, <span>CS220</span>, <span>CS367</span> </p>
                <p>\t &gt 2024 -- <span>CS361</span>, <span>CS340</span>, <span>CS399</span> </p>
                <p>\t &gt 2025 -- <span>CS720</span>, <span>CS747</span> </p>
            </li>
        </ul>
    </div>
</Layout>

<style>
h1 {
    font-size: 20pt;
}
</style>
