---
import Layout from '../layouts/Layout.astro';

const wdcc_link = "https://wdcc.co.nz/"
const devs_link = "https://www.instagram.com/devsuoa/" 
const uoacs_link = "https://uoacs.org/" 
const tansa_link = "https://www.instagram.com/tansa.uoa/"
---

<Layout>
    <h1>Kia ora! my name is <span>Koutaro Yumiba</span></h1>
    <p>
        I'm a postgraduate student at the University of Auckland, studying Computer Science and Psychology!<br>
    </p>

    <h2>~/fun/facts/</h2>
    <div class="sidebar">
        <ul>
            <li>I use neovim, btw (with a <a href="https://github.com/koutaroyumiba/nvim" target="_blank">custom config</a>?!?)</li>
            <li>Lead Contributor of <a href="https://www.instagram.com/ericzhengfanpage/" target="_blank">Eric Zheng's Fan Page</a></li>
            <li>Chief Entertainment Officer (CEO) at <a href="https://github.com/AGroupForCoders" target="_blank">AGFC</a></li>
        </ul>
    </div>
    <h2>~/work/experience/</h2>
    <div class="sidebar">
        <ul>
            <li>[Jun 2025 -&nbsp; Present] <span>Graduate Teaching Assistant</span> ---- University Of Auckland
            <li>[Nov 2024 -&nbsp; Present] <span>Software Engineering Intern</span> ---- NZPMC Ltd.
            <li>[Feb 2024 - Jun 2025] <span>Teaching Assistant</span> ------------- University Of Auckland
            <li>[Nov 2024 - Feb 2025] <span>Summer Research Intern</span> --------- University Of Auckland
            <li>[Jul 2024 - Jul 2024] <span>Jane Street SEE Program</span> -------- Jane Street
            <li>[Mar 2022 -&nbsp; Present] <span>Private Tutor</span> ------------------ Sparked Tuition
        </ul>
    </div>
    <h2>~/leadership/roles/</h2>
    <div class="sidebar">
        <ul>
            <li>[ 1x] <span>Education Executive</span> --------- (2025) / Web Development and Consulting Club (<a href={wdcc_link} target="_blank">WDCC</a>)</li>
            <li>[ 1x] <span>Technical Executive</span> --------- (2025) / Web Development and Consulting Club (<a href={wdcc_link} target="_blank">WDCC</a>)</li>
            <li>[ 1x] <span>Competitions Executive</span> ------ (2025) / Developer's Society (<a href={devs_link} target="_blank">DEVS</a>)</li>
            <li>[ 1x] <span>Technical Executive</span> --------- (2025) / Developer's Society (<a href={devs_link} target="_blank">DEVS</a>)</li>
            <li>[ 1x] <span>Senior Advisor</span> -------------- (2025) / University Of Auckland Compsci Society (<a href={uoacs_link} target="_blank">UOACS</a>)</li>
            <li>[ 1x] <span>Public Relations Officer</span> ---- (2024) / Taiwanese and New Zealand Student Association (<a href={tansa_link} target="_blank">TANSA</a>)</li>
            <li>[ 1x] <span>Activities Coordinator</span> ------ (2023) / Taiwanese and New Zealand Student Association (<a href={tansa_link} target="_blank">TANSA</a>)</li>
            <li>[ 1x] <span>Faculty Representative for Computer Science</span> --- (2024) / University of Auckland</li>
            <li>[11x] <span>Class Representative</span> -------- (2022, 2023, 2024, 2025) / University of Auckland
                <ul class="ul-no-deco">
                    <li>\t &gt 2022 -- <span>CS110</span>, <span>CS120</span>, <span>CS130</span> </li>
                    <li>\t &gt 2023 -- <span>CS210</span>, <span>CS220</span>, <span>CS367</span> </li>
                    <li>\t &gt 2024 -- <span>CS361</span>, <span>CS340</span>, <span>CS399</span> </li>
                    <li>\t &gt 2025 -- <span>CS720</span>, <span>CS747</span>, <span>CS701</span> </li>
                </ul>
            </li>
        </ul>
    </div>

    <br>
    <h2>~/footnotes/</h2>
    <p>
        I just want to be completely transparent and say that this website is heavily inspired by my friend's website (<a href="https://ericzheng.nz" target="_blank">ericzheng.nz</a> - do give him a visit!). The main reason why this page was created was kind of to have a place to put my projects and (more importantly) my <a href="/leetcode">Leetcode</a> progress. It's also a nice place to test new things (the website is using Astro which I used for the first time) and expand my web development skillset. Hopefully, you find this website cool and check out some of the projects that I've been cooking up in <a href="/projects">./projects</a>!
    </p>
    <br>
    <p>Please feel free to reach out any time via any of my contacts in <a href="/contents">./contents</a>!</p>
    ---
</Layout>

<style>
h1 {
    font-size: 20pt;
}
.ul-no-deco {
    list-style: none;
}
</style>
